<!DOCTYPE html>
<html>
<head>
    <title>Mi Página de Presentación</title>
</head>
<body>
    <header>
        <h1>¡Bienvenido a FUN & LEARNING 4 LITTLE PEOPLE! 😊</h1>
    </header>
    
    <a href="https://ibb.co/7b00pw6"><img src="https://i.ibb.co/9Gdd4FC/FUN-12.png" alt="FUN-12" border="0"></a>

    <section id="about">
        <h2>Sobre Mí</h2>
        <p>Hola, soy teacher Vivi. Soy tu tutora en casa que te brinda apoyo pedagogico para el desarrollo adecuado de tu peque.</p>
    </section>
    
    <section id="education">
        <h2>Educación</h2>
        <p>Me gradué en la Universidad Central del Ecuador con un título de Licenciada Parvularia. Además, he obtenido certificaciones como tutora en casa por la USFQ y First Certificate in English level B2.</p>
    </section>
    
    <section id="experience">
        <h2>Experiencia Laboral</h2>
        <p>He trabajado como tutora en casa desde el 2020. He guiado a varias familias en la modalidad Homeschooling y apoyo pedagogico escolar.</p>
    </section>
    
    <section id="contact">
        <h2>Contacto</h2>
        <p>Puedes contactarme a través de mi correo electrónico: vivianavjimenezt@gmail.com 📧. También estoy en las redes sociales:
            <a href="https://www.linkedin.com/in/viviana-jimenez-torres-674315224?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app">LinkedIn</a> 📎,
            <a href="https://www.facebook.com/English4littlepeopleEcuador?mibextid=ZbWKwL">Facebook</a> 🐦.
        </p>
    </section>

    <footer>
        <p>Gracias por visitar mi página personal. ¡Espero saber de ti pronto! 🌟</p>
    </footer>
</body>
</html>